Options -Indexes
Require all granted

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^browse/?$ app/controller/siteController.php?action=browse [QSA,L]
RewriteRule ^aboutUs/?$ app/controller/siteController.php?action=aboutUs [QSA,L]
RewriteRule ^processLogin/?$ app/controller/siteController.php?action=processLogin [QSA,L]
RewriteRule ^processLogout/?$ app/controller/siteController.php?action=processLogout [QSA,L]
RewriteRule ^processNewsLetter/?$ app/controller/siteController.php?action=processNewsLetter [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^locations/?$ app/controller/siteController.php?action=locations [QSA,L]
RewriteRule ^search/?$ app/controller/siteController.php?action=search [QSA,L]
RewriteRule ^createAccount/?$ app/controller/siteController.php?action=createAccount [QSA,L]
RewriteRule ^createAccounts/process/?$ app/controller/siteController.php?action=processNewUser [QSA,L]
RewriteRule ^profilePage/?$ app/controller/siteController.php?action=profilePage [QSA,L]
RewriteRule ^profilePage/updateProfile?$ app/controller/siteController.php?action=updateProfile [QSA,L]
RewriteRule ^user/follow/?$ app/controller/siteController.php?action=follow [QSA,L]
RewriteRule ^user/unfollow/?$ app/controller/siteController.php?action=unfollow [QSA,L]
RewriteRule ^userEdit/?$ app/controller/siteController.php?action=userEdit [QSA,L]
RewriteRule ^updateElite/?$ app/controller/siteController.php?action=updateElite [QSA,L]

# Product
RewriteRule ^products/view/(\d+)/?$ app/controller/productController.php?action=viewProduct&pid=$1 [QSA,L]
RewriteRule ^products/addItem/?$ app/controller/productController.php?action=addItem [QSA,L]
RewriteRule ^products/processEditDel/(\d+)/?$ app/controller/productController.php?action=processEditDel&pid=$1 [QSA,L]
RewriteRule ^addItem/?$ app/controller/productController.php?action=addItem [QSA,L]
RewriteRule ^products/edit/(\d+)/process/?$ app/controller/productController.php?action=editProductProcess&pid=$1 [QSA,L]
RewriteRule ^products/addItem/process app/controller/productController.php?action=addItemProcess&pid=$1 [QSA,L]
RewriteRule ^products/updateCart/?$ app/controller/productController.php?action=addToCart [QSA,L]
RewriteRule ^products/updatePostCart/?$ app/controller/productController.php?action=postCart [QSA,L]
RewriteRule ^products/view/(\d+)/review/?$ app/controller/productController.php?action=addReview&pid=$1 [QSA,L]
